# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Deploy on PyPi

on:
  release:
    types: [published]

  workflow_dispatch:

jobs:
  build-wheel:
    name: Build ${{ matrix.os }} ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [ '3.8', '3.9', '3.10' ]
        os: [macos-latest, windows-latest]
        exclude:
          - os: macos-latest
            python-version: '3.8'

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install wheel twine
    - name: Build package
      run: python setup.py sdist bdist_wheel
    - name: Store wheel
      uses: actions/upload-artifact@v2
      with:
        name: python-package-distributions
        path: dist
        
  deploy:
    name: Publish to PyPi
    needs:
    - build-wheel
    runs-on: ubuntu-latest
    
    steps:
    - name: Download wheels
      uses: actions/download-artifact@v2
      with:
        name: python-package-distributions
        path: dist/
    - name: Publish package
      uses: pypa/gh-action-pypi-publish@v1.5.0
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
